<div class="container">
    <p>Contract ID: {{ contractId }}</p>
    <!-- <h3>Add Seasonal Room Type</h3>
    <form [formGroup]="seasonalRoomsForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Select Season</mat-label>
        <mat-select formControlName="seasonId" required>
          <mat-option *ngFor="let season of seasons" [value]="season.seasonId">
            {{ season.seasonName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Select Room Type</mat-label>
        <mat-select formControlName="roomtypeId" required>
          <mat-option *ngFor="let roomtype of roomtypes" [value]="roomtype.roomtypeId">
            {{ roomtype.roomtypeName }} 
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Number of Rooms</mat-label>
        <input matInput formControlName="noofRooms" type="number" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Max Adults</mat-label>
        <input matInput formControlName="maxAdults" type="number" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Number of Reserved Rooms</mat-label>
        <input matInput formControlName="noofReservedRooms" type="number" required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Add Seasonal Room Type</button>
    </form> -->
  </div>
  