
<div>
  <!-- Logo and Hotel Title -->
  <div *ngIf="hotelDetails" class="logo-container">
    <img [src]="hotelDetails.imageUrl" width="auto" height="auto" />
    <div class="text-overlay">
      <div class="hotelName">Hotel</div>
      <div class="casabella">{{ hotelDetails.hotelName }}</div>
    </div>
  </div>

  <!-- Divider Section -->
  <div class="line-container">
    <div class="line"></div>
    <div class="subdiscover">About hotel name</div>
    <div class="line"></div>
  </div>


  <div class="sub-container">
  <div *ngIf="hotelDetails" class="hotel-details">
    
    <!-- <div class="hotel-info"> -->
      <div class="hotel-details-row">
        <div class="hotel-details-column">
          <p class="main">Hotel <span class="level1"><br>{{ hotelDetails.hotelName }}</span></p><br>
      
          <p class="level2">{{ hotelDetails.description }}</p><br>
      
          <p class="subtopics">Location: <span class="normal"> {{ hotelDetails.city }}, {{ hotelDetails.state }}, {{ hotelDetails.country }}</span></p>
          <p class="subtopics">Address:<span class="normal"> {{ hotelDetails.location }}</span></p>
          <p class="subtopics">Email:<span class="normal"> {{ hotelDetails.hotelEmail }}</span></p>
          <p class="subtopics">Contact:<span class="normal"> {{ hotelDetails.hotelContact }}</span></p><br>
          <p class="subtopics">Hotel Manager:<span class="normal"> {{ hotelDetails.hotelPerson }}</span></p><br>
          <p class="subtopics">Star Rating:<span class="normal"> {{ hotelDetails.starRating }} Stars</span></p>
        </div>
      
        <div class="hotel-image-column">
          <img [src]="hotelDetails.imageUrl" alt="{{ hotelDetails.hotelName }}" class="hotelimg" />
        </div>
      </div>
      
      
    <!-- </div> -->
  </div>

    <!-- Search Component -->
    <div>
      <app-searchagain
        [guestCount]="guestCount"
        [checkinDate]="checkinDate"
        [checkoutDate]="checkoutDate"
        (searchParametersUpdated)="onSearchParametersUpdated($event)">
      </app-searchagain>
    </div>

    <!-- Seasonal Supplements -->
    <!-- <div *ngIf="seasonalSupplements.length > 0">
      <h3>Seasonal Supplements:</h3>
      <div *ngFor="let supplement of seasonalSupplements">
        <mat-card>
          <p>{{ supplement.supplementName }}</p>
          <p>Price per unit: {{ supplement.pricePerUnit }}</p>
        </mat-card>
      </div>
    </div> -->

    <div>
      <div class="line-container">
        <div class="line"></div>
        <img src="assets/casabellalogo.png" alt="Icon" class="icon" />
        <div class="line"></div>
      </div>
      <div class="subdiscover">Availability</div>
    </div>

    <!-- Available Room Types Table -->
    <div *ngIf="availabilityList.length > 0">
      <table>
        <thead>
          <tr>
            <th class="tableheaders">Room Type</th>
            <th class="tableheaders">Available No. of Rooms and Persons</th>
            <th class="tableheaders">No. of Rooms</th>
            <th class="tableheaders">Guest Count</th>
            <th class="tableheaders">Supplements</th>
            <th class="tableheaders">Total Price for Rooms</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let availability of availabilityList; let i = index">
            <td>
              {{ availability.roomtypeName }}
            </td>
            <td>
              <p>Total rooms: {{ availability.noofRooms }}</p>
              <p><b>Price per unit: ${{ availability.price }}</b></p>
              Max Guests: {{ availability.maxAdults }}<br>
              <p>Available noofROoms: {{availability.availableRooms}}</p>
            </td>
            <td>
              <p>Enter number of rooms</p>
              <input 
                type="number" 
                [(ngModel)]="availabilityList[i].selectedRooms" 
                placeholder="Enter No. of Rooms" 
                min="1" 
                max="{{ availability.noofRooms }}" 
              />
              <p>Noof nights = {{noOfNights}}</p>
              <!-- <p>Total Price: {{ (availability.price * (availability.selectedRooms || 0)) }}</p> -->
              <p>
                Total Price For the rooms: 
                ${{ 
                  calculateRoomPriceFirst(
                    availability.price, 
                    availability.selectedRooms || 0, 
                    noOfNights
                  ) }}
              </p>
            </td>
            <td>
              <input 
                type="number" 
                [(ngModel)]="availabilityList[i].selectedGuestCount" 
                [placeholder]="guestCount"
                min="1" 
                max="{{ availability.maxAdults }}" 
                required 
              />
            </td>
            <!-- Seasonal Supplements -->
            <!-- <td>
              <div *ngFor="let supplement of supplementCache[availability.seasonId]">
                <p>{{ supplement.supplementName }} ({{ supplement.pricePerUnit }})</p>
                <p>Season id : {{supplement.seasonId}}</p>
                <p>Seasonal supplement id: {{supplement.seasonalSupplementId}}</p>
                <p>Season id : {{availability.seasonId}}</p>
              </div>
            </td>                   -->
            <!-- <td>
              <div *ngFor="let supplement of supplementCache[availability.seasonalRoomtypeId]">
                <label>
                  {{ supplement.supplementName }}<br>
                  <p>Price Per supplement: {{ supplement.pricePerUnit }}</p>
                  Quantity:
                  <input 
                    type="number" 
                    [(ngModel)]="supplement.selectedQuantity" 
                    placeholder="Enter quantity" 
                    min="0"
                  />
                  <p>
                    Total Supplement Price: 
                    {{
                      calculateTotalSupplementPrice(availability.seasonalRoomtypeId)
                    }}
                  </p>
                </label>
              </div>
              <div>
                Markup: {{ availability.markupPercentage }}%
              </div>
            </td>                  -->
            <td>
              <div *ngFor="let supplement of supplementCache[availability.seasonalRoomtypeId]">
                <label>
                  <p >{{ supplement.supplementName }}</p><br>
                  <p class="supplementrow">Price Per supplement: {{ supplement.pricePerUnit }}</p>
                  <p class="supplementrow">Quantity:</p>
                  <input 
                    class="supinput"
                    type="number" 
                    [(ngModel)]="supplement.selectedQuantity" 
                    placeholder="Enter quantity" 
                    min="0"
                  />
                </label>
                <p>Service Charge: {{ availability.markupPercentage }} % of total room price</p>
              </div>
            </td>
            <td>
              <p>
                ${{ calculateSupplementPrice(availability.seasonalRoomtypeId) }} + 
                ${{ 
                  calculateRoomPrice(
                    availability.price, 
                    availability.selectedRooms || 0, 
                    noOfNights, 
                    availability.markupPercentage
                ) }} 
              </p>
                <p>Total Price: 
                  ${{ calculateTotalPrice(availability) }}
                </p>
                <p>
                  ${{ calculateGrandTotal(availability) }}
                </p>                           
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- No Availability Message -->
    <div *ngIf="availabilityList.length === 0">
      <p>No room availability found for the selected criteria.</p>
    </div>

    <!-- Submit Booking Button -->
    <div>
      <button mat-button (click)="onSubmit()">Add to Booking</button>
    </div>

    <div *ngIf="hotelDiscounts && hotelDiscounts.length > 0" class="discounts">
      <p class="discountTitle">Discounts</p>
      <ul>
        <li *ngFor="let discount of hotelDiscounts">
          <p class="discountName">{{ discount.discountType }}</p>
          <p class="discountDes">{{ discount.description }} - {{discount.discountPercentage}}% discount for bookings made {{discount.daysPriorToArrival}} days prior to arrival</p>
        </li>
      </ul>
    </div>    

    <div *ngIf="existingBookingId">
      <button mat-button (click)="onNavigate(existingBookingId)">
        Go to Booking
      </button>
    </div>

    <div *ngIf="eligibleForDiscount" class="discountmsg">
      You are eligible for a discount! <br>Book now to avail it.
    </div>

  </div>
</div>