<div >
  <div class="logo-container">
    <img src="assets/l9.jpg"  width="auto" height="auto" />
    <div class="text-overlay">
      <div class="hotelName">city</div>
      <div class="casabella">CasaBella</div>

    </div>
  </div>
  <!-- <div class="search">
    <app-search></app-search>
  </div> -->
  <div>
    <div class="line-container">
      <div class="line"></div>
      <div class="subdiscover">About hotel name</div>
      <div class="line"></div>
    </div>
  </div>

  <div class="sub-container">
    <p>hotel description</p>
    <p>hotel ID: {{ hotelId }}</p>
    <p>guest count : {{ guestCount }} checkin date : {{ checkinDate }} checkout date: {{checkoutDate}}</p>

    <div>
      <app-searchagain
        [guestCount]="guestCount"
        [checkinDate]="checkinDate"
        [checkoutDate]="checkoutDate"
        (searchParametersUpdated)="onSearchParametersUpdated($event)">
      </app-searchagain>
    </div>

    <div *ngIf="seasonalSupplements.length > 0">
      <h3>Seasonal Supplements:</h3>
      <div *ngFor="let supplement of seasonalSupplements">
        <mat-card>
          <p>{{ supplement.supplementName }}</p>
          <p>Price per unit: {{ supplement.pricePerUnit }}</p>
        </mat-card>
      </div>
    </div>
    
    <div>
      <div *ngIf="availabilityList.length > 0">
        <h2>Available Room Types</h2>
        <table>
          <thead>
            <tr>
              <th>Room Type</th>
              <th>Available no. of Rooms and Persons</th>
              <th>No. of Rooms </th>
              <th>Guest Count</th>
              <th>Supplements</th>
              <th>Total price for the Rooms</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let availability of availabilityList; let i = index">
              <td>{{ availability.roomtypeId }}<br>{{ availability.roomtypeName }}</td>
              <td>Total rooms: {{ availability.noofRooms }}<br>Price per unit: {{ availability.price }}<br>People: {{ availability.maxAdults }}</td>
              <td>
                <p>Enter number of rooms </p>
                <input type="number" [(ngModel)]="availabilityList[i].selectedRooms" placeholder="Enter No. of Rooms"><br>
                <p>TOTAL PRICE: NOOF ROOMS * PRICE PER UNIT * NOOF NIGHTS</p>
              </td>
              <td>
                <input type="number" 
                       [(ngModel)]="availabilityList[i].selectedGuestCount" 
                       placeholder="Enter Guest Count" 
                       [min]="1" 
                       [max]="availability.maxAdults" 
                       required>
              </td>              
              <td>{{ availability.seasonId }}</td>
              <td>{{ availability.markupPercentage }}%</td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
    <div>
      <button mat-button (click)="onSubmit()">Add to Booking</button>
    </div>
    
    
  </div>
  
  

</div>