.container {
  padding: 20px;
}

.logo-container {
  position: relative;
  width: 100vw;  
  height: 100vh; 
  text-align: left;
  overflow: hidden;

}

.logo-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  opacity: 0.8; 
}

.text-overlay {
  position: absolute;
  top: 20%; /* Adjust as needed for vertical positioning */
  left: 20px; /* Align to the left with some padding */
  color: white;
  z-index: 1;
  text-align: left; /* Ensure text is left-aligned */
}

.search {
  margin-top: 60px;
  position: absolute;
  top: calc(100vh - 50px); /* Adjust to position half in white space, half on image */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensures it sits above the image */
  width: 60%; /* Set width as needed */
}

.hotelName {
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.casabella {
  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
}

.subdiscover {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.line {
  width: 300px;
  height: 1px;
  background-color: #FFBA1A;
  margin: 0 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.sub-container{
  padding: 35px;

}
