.container {
  padding: 20px;
}

.logo-container {
  position: relative;
  width: 100vw;  
  height: 100vh; 
  text-align: left;
  overflow: hidden;

}

.logo-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  opacity: 0.8; 
}

.text-overlay {
  position: absolute;
  top: 20%; /* Adjust as needed for vertical positioning */
  left: 20px; /* Align to the left with some padding */
  color: white;
  z-index: 1;
  text-align: left; /* Ensure text is left-aligned */
}

.search {
  margin-top: 60px;
  position: absolute;
  top: calc(100vh - 50px); /* Adjust to position half in white space, half on image */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensures it sits above the image */
  width: 60%; /* Set width as needed */
}

.hotelName {
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.casabella {
  font-family: "Julius Sans One", sans-serif;
  font-size: 50px;
}

.subdiscover {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin-top: 10px;
}

.tableheaders{
  font-family: "Julius Sans One", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  justify-content: center;
  vertical-align: top;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.line {
  width: 300px;
  height: 1px;
  background-color: #FFBA1A;
  margin: 0 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.sub-container{
  padding: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Input field styling */
input[type="number"] {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Highlight invalid input fields */
input:invalid {
  border-color: red;
}

.supinput[type="number"] {
  width: 70%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.supinput:invalid {
  border-color: red;
}

/* Label styling */
label {
  font-weight: bold;
  margin-top: 5px;
}

/* Buttons */
button {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #FFBA1A;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #FFBA1A;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.discountTitle{
  font-family: "Julius Sans One", sans-serif;
}
.discountName{
  font-family: "Julius Sans One", sans-serif;
  font-size: 19px;
  text-align: center;
}
.discountDes{
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
}

.supplementrow{
  font-weight: lighter;
}

.discountmsg {
  background-color: #FFBA1A;
  color: #ffffff;
  padding: 10px;
  font-family: "Julius Sans One", sans-serif;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.discounts{
  text-align: center;
}
