<div class="seasonal-supplement-form-container">
  <h4>Add Seasonal Supplement for Contract ID: {{ contractId }}</h4>

  <form [formGroup]="seasonalSupplementForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Select Season</mat-label>
      <mat-select (selectionChange)="onSelectSeason($event.value)" required>
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{ season.seasonName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Season ID</mat-label>
      <input matInput formControlName="seasonId" type="number" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Supplement</mat-label>
      <mat-select (selectionChange)="onSelectSupplement($event.value)" required>
        <mat-option *ngFor="let supplement of supplements" [value]="supplement">
          {{ supplement.supplementName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Supplement ID</mat-label>
      <input matInput formControlName="supplementId" type="number" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price Per Unit</mat-label>
      <input matInput formControlName="pricePerUnit" type="number" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
