<div >
    <div class="logo-container">
      <img src="assets/hotel1.jpg"  width="auto" height="auto" />
      <div class="text-overlay">
        <div class="welcometo">Welcome to </div>
        <div class="casabella">CasaBella</div>
        <p class="discover">Discover our top-rated hotels</p>
      </div>
    </div>

    <div class="line-container">
        <div class="line"></div>
        <img src="assets/casabellalogo.png" alt="Icon" class="icon" />
        <div class="line"></div>
    </div>

    <div>
        <div class="subdiscover">Discover our best Hotels</div>
    </div>

    <!-- <button mat-raised-button color="primary" (click)="goToPage()" >Go to page</button> -->

  </div>
  