<div >
  <div class="logo-container">
    <img src="assets/l7.jpg"  width="auto" height="auto" />
    <div class="text-overlay">
      <div class="welcometo">Welcome to </div>
      <div class="casabella">CasaBella</div>
      <p class="discover">Discover our top-rated hotels</p>

      

    </div>
  </div>
  <div class="search">
    <app-search></app-search>
  </div>
  <div>
    <div class="line-container">
      <div class="line"></div>
      <img src="assets/casabellalogo.png" alt="Icon" class="icon" />
      <div class="line"></div>
    </div>
    <div class="subdiscover">Discover our best Hotels</div>
  </div>



</div>
  