<div>
    <div class="line-container">
      <div class="line"></div>
      <img src="assets/casabellalogo.png" alt="Icon" class="icon" />
      <div class="line"></div>
    </div>
    <div class="subdiscover">Admin Dashboard</div>
</div>
<div class="row-container">
    <!-- Card 1: Add Hotel -->
    <div class="card-container">
      <div class="line-container">
        <div class="line"></div>
        <img src="assets/casabellalogo.png" alt="Icon" class="icon" />
        <div class="line"></div>
      </div>
      <p class="subtopics">Add Hotel</p>
      <p>
        Add a new hotel to the system, including details such as the hotel name, location, and other essential information.
      </p>
      <div class="btncontainer">
        <button class="search-button" (click)="navigateAddHotel()" >Add new Hotel</button>
      </div>
    </div>
  
    <!-- Card 2: View Contracts -->
    <div class="card-container">
      <div class="line-container">
        <div class="line"></div>
        <img src="assets/casabellalogo.png" alt="Icon" class="icon" />
        <div class="line"></div>
      </div>
      <p class="subtopics">View Contracts</p>
      <p>
        Manage existing contracts for hotels, including seasonal pricing, discounts, <br>and terms.
      </p>
      <div class="btncontainer">
        <button class="search-button" (click)="navigateViewHotel()" >View Hotels and Asscociated Contracts</button>
      </div>
    </div>
</div>
  