.container {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the contents horizontally */
  }
  
  .loading-container,
  .error-container,
  .no-bookings {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    padding: 20px 0;
  }
  
  .subdiscover {
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
  }
  
  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .line {
    width: 300px;
    height: 1px;
    background-color: #FFBA1A;
    margin: 0 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .user-details {
    width: 100%;
    max-width: 600px;
    text-align: left;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px 20px; /* Spacing between rows and columns */
  }
  
  .user-details h3 {
    grid-column: span 2; /* Header spans both columns */
    text-align: center;
    color: #333;
    margin-bottom: 15px;
  }
  
  .user-details p {
    margin: 0;
    font-size: 1em;
    color: #555;
    font-weight: 500;
  }
  
  .user-details p strong {
    font-weight: bold;
    color: #333;
  }
  
  /* Center the booking table */
  .booking-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0; /* Space above and below the table */
    align-self: center; /* Ensures the table is horizontally centered */
  }
  
  .booking-table th,
  .booking-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 0.9em;
  }
  
  .booking-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .booking-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .booking-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .booking-table td {
    color: #555;
    vertical-align: middle;
  }
  
  .booking-table td:nth-child(1),
  .booking-table td:nth-child(12) {
    text-align: center;
  }
  
  .no-bookings {
    text-align: center;
    font-size: 1.1em;
    color: #777;
    margin: 20px 0;
  }
  