<!-- [src]="hotel.imageUrl" alt="{{ hotel.hotelName }}" -->
<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
    <div class="input-group">
      <div class="input-field">
        <label for="checkinDate">Guest Count</label>
        <mat-form-field appearance="fill">
          <mat-label>Guest Count</mat-label>
          <input matInput formControlName="guestCount" type="number" min="1" required />
        </mat-form-field>
      </div>

      <div class="input-field">
        <label for="checkinDate">Check-in Date</label>
        <mat-form-field appearance="fill">
          <mat-label>Check-in Date</mat-label>
          <input matInput [matDatepicker]="checkinPicker" formControlName="checkinDate" required />
          <mat-datepicker-toggle matSuffix [for]="checkinPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkinPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-field">
        <label for="checkoutDate">Check-out Date</label>
        <mat-form-field appearance="fill">
          <mat-label>Check-out Date</mat-label>
          <input matInput [matDatepicker]="checkoutPicker" formControlName="checkoutDate" required />
          <mat-datepicker-toggle matSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
          <mat-datepicker #checkoutPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-field">
        <button type="submit" class="search-button">Search</button>
      </div>
    </div>
  </form>
</div>


<div class="hotel-cards">
  <div *ngFor="let hotel of resultHotels" class="hotel-card">
    <mat-card>
      <img mat-card-image  />
      <mat-card-content>
        <h3 mat-card-title>{{ hotel.hotelName }}</h3>
        <p mat-card-subtitle>{{ hotel.city}},{{hotel.state}},{{hotel.country }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="viewhotelBtn"  (click)="viewHotelDetails(hotel.hotelId)">View Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="hotel-cards">
  <div class="hotel-card">
    <mat-card>
      <img mat-card-image  />
      <mat-card-content>
        <h3 mat-card-title>hotel name</h3>
        <p mat-card-subtitle>hotel state, hotelcity, hotelcountry</p>
        <p>desc</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="viewhotelBtn" mat-button>View Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


